
$primary-color: #3498db;
$pink-color: pink;
$blue-color: #1B3C73;

html {
  height: 100%; // Ensure the html spans the full viewport height
  margin: 0;
  padding: 0;
  overflow: auto; // Allows scrolling if content exceeds the viewport
}

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; // Keep the background fixed during scroll
  background-position: center center;
  font-family: 'Arial', sans-serif;
  color: $blue-color;
  font-weight: 600;
  box-sizing: border-box;
  overflow-x: hidden; // Prevent horizontal scrolling
  min-height: 100vh; // Use viewport height to ensure body covers at least the whole screen
  display: flex;
  flex-direction: column;
}


div {
  margin: 20px;
}

h2 {
  color: #333;
}

.scoreboard {
  display: inline-block;
  border: 2px solid pink;
  padding: 7px 20px; 
  margin-top: 20px;
  border-radius: 5px; 
  background-color: rgba(255, 192, 203, 0.2);
}


.trivia-app {
  background-color: $primary-color;
  box-shadow: 10px 11px 26px 0px $blue-color;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  .answer {
    padding: 10px 20px;
    color: $pink-color;
    font-size: 20px;
  }

  .choose-question {
    padding: 10px;
    
  }

  h2 {
    color: $blue-color;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin: 20px 0px;
  }

  button, select {
    margin: 0px 5px;
  }

  select {
    border-radius: 1px;
    margin-left: 10px;
    padding: 4px;
  }

  label {
    margin-bottom: 30px ;
  }

  button {
    background-color: $pink-color;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer; 
    border: none; 
    margin-bottom: 10px;
    font-weight: 600;
  
  @media (max-width: 667px) {
    margin: 7px;
    font-weight: 400;
    }
  }
}



.question {
  text-align: center;
}

.start-page{
  text-align: center;
  

  h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
  }

  a {
    color: pink;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Caveat', cursive;
  }
}

//font-family: 'Caveat', cursive;
//font-family: 'Caveat Brush', cursive;